<header class="d-flex justify-content-between align-items-center mb-3">
<h1>Routines</h1>
</header>

<ul class="list-group">
    {{#each routines}}
    <li class="list-group-item d-flex justify-content-between shadow mb-5">
        {{#if this.completed}}
<div class = "text-muted font-weight-normal">
    <h4>{{this.name}}-{{this.dayToDo}}</h4>
    </div>
{{else}}
<div class="font-weight-normal">
    <h4>{{this.name}}-{{this.dayToDo}}</h4>
</div>
{{/if}}


<div class = "links">
    <a href="/{{this.id}}/workouts" class="btn btn-info">View</a>
    <a href="/{{this.id}}/edit" class="btn btn-info">Edit</a>
    <form action="/{{this.id}}?_method=DELETE" method="POST" class="d-inline">
    <input type="submit" value="Delete" class="btn btn-danger"></form>
</div>
</li>
{{/each}}
</ul>
<a href="/new" class="btn btn-primary">Add Routine</a>